<img class="logo" src="stellaris.svg" aria-label="logo">
<h1 class="soon">Hi there!</h1>
<p class="landingtext">This is my humble abode! Feel free to explore all the links here to get a better
    understanding of who I am, or to check out what I do :D</p>
<img class="squiggle" src="squiggle.svg">
<div class="btn-container">
    <a hx-get="contents/about-me.html" hx-swap="transition:true" hx-target=".contents">
        <div class="bluesky-link btn btn-active">
            <i class="ti ti-user-question"></i>
            <p>About me</p>
        </div>
    </a>
    <a hx-get="contents/projects.html" hx-swap="transition:true" hx-target=".contents">
        <div class="bluesky-link btn btn-active">
            <i class="ti ti-tools"></i>
            <p>Projects</p>
        </div>
    </a>
    <a href="https://bsky.app/profile/orb.gay">
        <div class="bluesky-link btn btn-active">
            <i class="ti ti-brand-bluesky"></i>
            <p>Bluesky</p>
        </div>
    </a>
    <a href="https://github.com/blahajcoding">
        <div class="github-link btn btn-active">
            <i class="ti ti-brand-github"></i>
            <p>GitHub</p>
        </div>
    </a>
    <a href="https://www.tiktok.com/@gayorb">
        <div class="tiktok-link btn btn-active">
            <i class="ti ti-brand-tiktok"></i>
            <p>TikTok</p>
        </div>
    </a>
    <a href="https://www.figma.com/@orbdesigns">
        <div class="figma-link btn btn-active">
            <i class="ti ti-brand-figma"></i>
            <p>Figma</p>
        </div>
    </a>
    <a href="https://t.me/enbyorb">
        <div class="tg-link btn btn-active">
            <i class="ti ti-brand-telegram"></i>
            <p>Telegram</p>
        </div>
    </a>
</div>