<hstack style="gap:12px">
    <img class="logo" src="stellaris.svg" aria-label="logo">
    <h1 class="soon">Hi there!</h1>
</hstack>

<p class="landingtext">This is my humble abode! Feel free to explore all the links here to get a better
    understanding of who I am, or to check out what I do :D</p>
<img class="squiggle" src="squiggle.svg" aria-hidden="true">
<div class="btn-container">
    <a hx-get="contents/about-me.html" hx-swap="transition:true" hx-target=".contents" hx-push-url="#" href="" tabindex="1">
        <div class="bluesky-link btn btn-active">
            <i class="ti ti-user-question" aria-hidden="true"></i>
            <p>About me</p>
        </div>
    </a>
    <a hx-get="contents/projects.html" hx-swap="transition:true" hx-target=".contents" hx-push-url="#" href="" tabindex="2">
        <div class="bluesky-link btn btn-active">
            <i class="ti ti-tools" aria-hidden="true"></i>
            <p>Projects</p>
        </div>
    </a>
    <a href="https://bsky.app/profile/orb.gay" tabindex="3">
        <div class="bluesky-link btn btn-active">
            <i class="ti ti-brand-bluesky" aria-hidden="true"></i>
            <p>Bluesky</p>
        </div>
    </a>
    <a href="https://github.com/blahajcoding" tabindex="4">
        <div class="github-link btn btn-active">
            <i class="ti ti-brand-github" aria-hidden="true"></i>
            <p>GitHub</p>
        </div>
    </a>
    <a href="https://www.tiktok.com/@gayorb" tabindex="5">
        <div class="tiktok-link btn btn-active">
            <i class="ti ti-brand-tiktok" aria-hidden="true"></i>
            <p>TikTok</p>
        </div>
    </a>
    <a href="https://www.figma.com/@orbdesigns" tabindex="6">
        <div class="figma-link btn btn-active">
            <i class="ti ti-brand-figma" aria-hidden="true"></i>
            <p>Figma</p>
        </div>
    </a>
    <a href="https://t.me/enbyorb" tabindex="7">
        <div class="tg-link btn btn-active">
            <i class="ti ti-brand-telegram" aria-hidden="true"></i>
            <p>Telegram</p>
        </div>
    </a>
</div>
<gap></gap>
<footer><text>No JS frameworks were used &lt;3</text> <a class="secondary-link">Source code</a></footer>
